* {
  margin: 0;
  padding: 0;
}

.App {}

.post-list {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post {
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  border-width: 2px;
  border-color: brown;
  margin: 10px;
  padding: 10px;
  border-style: solid;
}

.app-form {
  display: flex;
  justify-content: center;
}

.app-form-div {
  display: flex;
  justify-content: space-between;
  width: 500px;
  border-style: solid;
  border-width: 2px;
  border-color: darkcyan;
  padding: 10px;
}

.selectt {
  width: 500px;
}

.selectt_p {
  display: flex;
  justify-content: center;
  padding: 10px
}